In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:posDS123@localhost/sparkifydb

'Connected: postgres@sparkifydb'

In [3]:
%sql SELECT * FROM songplays LIMIT 7;

 * postgresql://postgres:***@localhost/sparkifydb
7 rows affected.

[(1, datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), '8', 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (2, datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), '8', 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (3, datetime.datetime(2018, 11, 1, 21, 8, 16, 796000), '8', 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (4, datetime.datetime(2018, 11, 1, 21, 11, 13, 796000), '8', 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (5, datetime.datetime(2018, 11, 1, 21, 17, 33, 796000), '8', 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (6, datetime.datetime(2018, 11, 1, 21, 24, 53, 796000), '8', 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (7, datetime.datetime(2018, 11, 1, 21, 28, 54, 796000), '8', 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')]

In [4]:
%sql SELECT * FROM users LIMIT 7;

 * postgresql://postgres:***@localhost/sparkifydb
7 rows affected.

[('83', 'Stefany', 'White', 'F', 'free'),
 ('54', 'Kaleb', 'Cook', 'M', 'free'),
 ('3', 'Isaac', 'Valdez', 'M', 'free'),
 ('32', 'Lily', 'Burns', 'F', 'free'),
 ('92', 'Ryann', 'Smith', 'F', 'free'),
 ('56', 'Cienna', 'Freeman', 'F', 'free'),
 ('94', 'Noah', 'Chavez', 'M', 'free')]

In [5]:
%sql SELECT * FROM songs LIMIT 7;

 * postgresql://postgres:***@localhost/sparkifydb
7 rows affected.

[('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, Decimal('218.93179')),
 ('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, Decimal('148.03546')),
 ('SOXVLOJ12AB0189215', 'Amor De Cabaret', 'ARKRRTF1187B9984DA', 0, Decimal('177.47546')),
 ('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, Decimal('233.40363')),
 ('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', 2007, Decimal('209.60608')),
 ('SOYMRWW12A6D4FAB14', 'The Moon And I (Ordinary Day Album Version)', 'ARKFYS91187B98E58F', 0, Decimal('267.7024')),
 ('SOMJBYD12A6D4F8557', 'Keepin It Real (Skit)', 'ARD0S291187B9B7BF5', 0, Decimal('114.78159'))]

In [6]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://postgres:***@localhost/sparkifydb
5 rows affected.

[('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', Decimal('NaN'), Decimal('NaN')),
 ('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', Decimal('35.14968'), Decimal('-90.04892')),
 ('ARKRRTF1187B9984DA', 'Sonora Santanera', '', Decimal('NaN'), Decimal('NaN')),
 ('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', Decimal('NaN'), Decimal('NaN')),
 ('ARXR32B1187FB57099', 'Gob', '', Decimal('NaN'), Decimal('NaN'))]

In [7]:
%sql SELECT * FROM time LIMIT 7;

 * postgresql://postgres:***@localhost/sparkifydb
7 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 21, 1, 44, 11, 2018, 3),
 (datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 21, 1, 44, 11, 2018, 3),
 (datetime.datetime(2018, 11, 1, 21, 8, 16, 796000), 21, 1, 44, 11, 2018, 3),
 (datetime.datetime(2018, 11, 1, 21, 11, 13, 796000), 21, 1, 44, 11, 2018, 3),
 (datetime.datetime(2018, 11, 1, 21, 17, 33, 796000), 21, 1, 44, 11, 2018, 3),
 (datetime.datetime(2018, 11, 1, 21, 24, 53, 796000), 21, 1, 44, 11, 2018, 3),
 (datetime.datetime(2018, 11, 1, 21, 28, 54, 796000), 21, 1, 44, 11, 2018, 3)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).